<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SUDOKU</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton|Sofia">
</head>
<body>

<h1 id="sudoku_title">SUDOKU</h1>

<div id="sudoku_container"></div>
<div class="loading">Loading&#8230;</div>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/static/script.js"></script>
<div id="footer">
  Made with <span style="color: #e25555;">❤</span>
  <p align="center">
    <a href="https://github.com/dhirajberi/sudoku-solver/graphs/contributors">
      <img src="https://contrib.rocks/image?repo=dhirajberi/sudoku-solver" />
    </a></p>
</div>
</body>
</html>
